        /* ====== ESTILO GENERAL ====== */
        body {
    margin: 0;
    height: 100vh;
    background-image: url("../images/jakub-zerdzicki-sEQd1efFFxM-unsplash.jpg"); 
    background-size: cover;            /* que cubra toda la pantalla */
    background-position: center;       /* centrada */
    background-repeat: no-repeat;      /* que no se repita */
    display: flex;
    justify-content: center;
    align-items: center;
}
        

        /* ====== TARJETA CENTRAL ====== */
        .card {
            background-color: #2f2f2f;
            width: 350px;
            padding: 40px;
            border-radius: 12px;
            text-align: center;
            box-shadow: 0px 10px 25px rgba(0,0,0,0.4);

            /* Animación */
            opacity: 0;
            transform: translateY(40px);
            animation: aparecer 0.8s ease-out forwards;
        }

        /* ====== LOGO ====== */
        .logo {
            width: 100%;
            margin-bottom: 20%;
        }

        /* ====== BOTÓN ====== */
        .btn {
            background-color: #e53935;
            color: white;
            border: none;
            padding: 12px 30px;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s ease;
        }

        .btn:hover {
            background-color: #c62828;
            transform: scale(1.05);
        }

        /* ====== DEFINICIÓN DE LA ANIMACIÓN ====== */
        @keyframes aparecer {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        a{
            text-decoration: none;
        }